@using Domain
@model WebApp.ViewModels.SearchViewModel

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="text-center heading-container">
            <span class="company-logo-heading display-4 main-heading" style="left: 40px;">W</span>
            <img src="https://i.pinimg.com/originals/a4/48/f0/a448f012ac2681e47ebdd86aaf8a274a.gif" height="40%" width="30%" alt="geometric-shape-gif">
            <span class="company-logo-heading display-4 main-heading" style="left: 10px;">r</span>
            <span class="company-logo-heading display-4 main-heading" style="left: 70px;">d</span>
            <span class="company-logo-heading display-4 main-heading" style="left: 130px;">y</span>

            <h2 class="padded home-subheading">@Resources.Views.Home.Index.Estonian_English_Estonian_Dict</h2>
        </div>
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="KeyWord" class="text-danger"></span>
            <div class="input-group mb-3 search-bar">
                <input asp-for="KeyWord" type="text" class="form-control search-input" placeholder="@Resources.Views.Home.Index.InsertKeyword">
                <span>
                    <select type="text" class="search-bar-lang-input form-control " asp-for="LanguageId" asp-items="Model.LanguageSelectList"></select>
                </span>
                <span>
                    <button class="search-button" type="submit">
                        <img src="css/img/search.svg" alt="search-icon" class="icon"/>
                    </button>
                </span>
                <span asp-validation-for="KeyWord" class="text-danger"></span>
            </div>
            <div class="pad-left-lg" aria-label="match-exactness-choice" id="match-exactness-choice">
                @*<label class="pad-up-decreased h6" for="match-exactness-choice">@Resources.Views.Home.Index.SearchExactness:</label>*@
                <span class="match-choices">
                    <div class="form-check form-check-inline">
                        <input asp-for="MatchExactness" class="form-check-input check-size" type="radio" value="@EMatchExactness.Exact" checked>
                        <label class="form-check-label">@Resources.Views.Home.Index.Exact</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="MatchExactness" class="form-check-input check-size" type="radio" value="@EMatchExactness.Fuzzy">
                        <label class="form-check-label">@Resources.Views.Home.Index.Fuzzy</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="MatchExactness" class="form-check-input check-size" type="radio" value="@EMatchExactness.Partial">
                        <label class="form-check-label">@Resources.Views.Home.Index.Partial</label>
                    </div>
                </span>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
