@using BLL
@model IEnumerable<Domain.Word>


<h1>@Resources.CRUDCommon.Index</h1>

<table class="table">
    <thead>
    <tr class="row">
        <th class="col-sm-4">
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th class="col-sm-8">
            @Html.DisplayNameFor(model => model.QueryWord)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="row">
            <td class="col-sm-4">
                <div>
                    <a class="index-heading" asp-controller="Word" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Value)
                    </a>
                </div>
            </td>
            <td class="col-sm-8">
                @LogicHelp.DisplayQueryWordAndEquivalents(item)
            </td>
        </tr>
        
    }
    </tbody>
</table>