@using Domain
@model WebApp.ViewModels.WordViewModel

<h1>@Resources.CRUDCommon.CreateNew</h1>

<h4>@Resources.Views.DTONames.Word</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3">
                <select type="text" class="form-control" placeholder="@Resources.Views.Word.Create.PartOfSpeech" asp-for="Word!.LanguageId" asp-items="Model.LanguageSelectList">
                    @*<option value="">@Resources.CRUDCommon.SelectItem</option>*@
                </select>
                
            </div>
            <div class="form-group">
                <label asp-for="Word!.Value" class="control-label"></label>
                <input asp-for="Word!.Value" class="form-control" placeholder="@Resources.Views.Word.Create.InsertNewWord"/>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">@Resources.Views.Word.Create.PartOfSpeech</span>
                <select type="text" class="form-control" placeholder="@Resources.Views.Word.Create.PartOfSpeech" asp-for="Word!.PartOfSpeechId" asp-items="Model.PartOfSpeechSelectList">
                    <option value="">@Resources.CRUDCommon.SelectItem</option>
                </select>
                <span class="input-group-text">@Resources.Views.Word.Create.Topic</span>
                <select type="text" class="form-control" placeholder="@Resources.Views.Word.Create.Topic" asp-for="Word!.TopicId" asp-items="Model.TopicSelectList">
                    <option value="">@Resources.CRUDCommon.SelectItem</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Word!.Example" class="control-label"></label>
                <textarea asp-for="Word!.Example" class="form-control"></textarea>
                <span asp-validation-for="Example" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Word!.Explanation" class="control-label"></label>
                <textarea asp-for="Word!.Explanation" class="form-control"></textarea>
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Views.Word.Create.Continue" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">@Resources.CRUDCommon.BackToList</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
