@using Resources.Views.Word
@using Microsoft.AspNetCore.Identity
@using BLL
@model WebApp.ViewModels.WordViewModel
@inject SignInManager<IdentityUser> SignInManager

<div class="row">

    <a class="col-sm-1" asp-action="Index">
        <img src="/css/img/arrow-left.svg" alt="back-icon" class="icon icon-lg">
    </a>

    <h1 class="col-sm-10 detail-heading highlighted-heading">@Html.DisplayFor(model => model.Value)</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="col-sm-1" asp-action="Edit" asp-route-id="@Model.Word!.Id">
            <img src="/css/img/pencil.svg" alt="edit-icon" class="icon icon-right">
        </a>
    }
</div>
<div>
    @if (Model.Word.PartOfSpeechId != null)
    {
        <h4 class="subheading text-center">
            @Model.Word!.PartOfSpeech?.Name
        </h4>
    }

</div>

<hr/>

@if (Model.Pronunciation != null)
{
    <h2 class="subheading text-center">/@Html.DisplayFor(model => model.Pronunciation)/</h2>
}

<div class="form-box">
    <ul>

        @foreach (var item in LogicHelp.CreateEquivalentList(Model.Word))
        {
            <li class="h4">
                @Html.DisplayFor(modelItem => item.Value)
                <span>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="col-sm-1" asp-action="Delete" asp-route-id="@item.Id">
                            <img src="/css/img/trash.svg" alt="delete-icon" class="icon icon-right">
                        </a>
                    }
                </span>
            </li>
        }
        
    </ul>

    <hr/>
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-action="AddEquivalent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Word!.Id"/>
            <input type="hidden" asp-for="Word!.LanguageId"/>
            <div class="input-group mb-3">
                <input type="text" asp-for="Equivalent" class="form-control" placeholder="@Create.AddEquivalent" aria-label="New Equivalent" aria-describedby="basic-addon2">
                <input type="submit" class="input-group-text font-size-lg font-bold btn-info" id="basic-addon2" value="+"/>
            </div>
            <span asp-validation-for="Equivalent" class="text-danger"></span>
        </form>
    }
    <dl class="row">

        @if (Model.Word.Explanation != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Word.Explanation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Word.Explanation)
            </dd>
        }
        @if (Model.Word.Example != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Word.Example)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Word.Example)
            </dd>
        }
    </dl>
</div>